<div class="row" id="posts">
  <div class="col-12">
    <div class="row no-gutters">
      <div class="col-12 border-bottom pl-0 pb-2">
        <span class="title-section mr-4">{{'label.posts' | translate}}</span>
        <button class="btn btn-primary btn-sm"
                [routerLink]="['/add-post']">{{'label.add.post' | translate}}</button>
      </div>
    </div>


    <div class="row no-gutters mt-4">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <span>{{'label.search.post' | translate}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 input-group">
            <input type="text" class="form-control" id="search" #search (keydown.enter)="updateWord(search.value)"
                   [placeholder]="'label.3.characters' | translate">

            <span class="input-group-btn">
              <button class="btn btn-primary rounded-0" (click)="updateWord(search.value)">{{'label.search' | translate}}</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters mt-4">
      <div class="col-12">
        <p-table [columns]="cols"
                 [value]="posts"
                 [responsive]="true">
          <!--let-columns es una variable de template que almacena el columns valor de la tabla-->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let column of columns">
                {{column.header}}
              </th>
            </tr>
          </ng-template>

          <!--let-post es una variable de template que almacena el value de la tabla-->
          <ng-template pTemplate="body" let-post>
            <tr>
              <td>
                <span class="ui-column-title">{{'label.select.post' | translate}}</span>
                <p-checkbox name="categories" [value]="post.id" [(ngModel)]="selectedPosts"></p-checkbox>
              </td>
              <td>
                <span class="ui-column-title">{{'label.title' | translate}}</span>
                <!--
                appHighligth // directiva para colorear las concidencias en el html de la busqueda
                -->
                <span appHighligth [search]="searchWord" >{{post.title}}</span>
              </td>
              <td>
                <span class="ui-column-title">{{'label.date.post' | translate}}</span>
                <span appHighligth [search]="searchWord" >{{post.date | date:'dd/MM/yyy'}}</span>
              </td>
              <td>
                <span class="ui-column-title">{{'label.categories' | translate}}</span>
                <ng-container *ngIf="!post.categories || post.categories.length === 0">
                  <span>{{'label.no.categories' | translate}}</span>
                </ng-container>
                <ng-container *ngIf="post.categories && post.categories.length > 0">
                <!--Categories-->
                  <span appHighligth [search]="searchWord">{{post.categories | join:'name':', '}}</span>

                </ng-container>
              </td>
              <td>
                <span class="ui-column-title">{{'label.thumbnail' | translate}}</span>
                <span *ngIf="post.img"><img [src]="post.img" class="thumbnail" alt=""></span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Solo aparecerea el elemento si se han seleccionado filas para eliminar-->
    <div class="row no-gutters mt-4" *ngIf="selectedPosts?.length > 0">
      <div class="col-12">
        <button class="btn btn-primary" (click)="deletePosts();">{{'label.delete.posts' | translate}}</button>
      </div>
    </div>


  </div>
</div>


<div class="h-100" *ngIf="!showPost">
  <div class="spinner">
    <img src="assets/img/spinner.gif" alt="">
  </div>
</div>
